.react-calendar {
  background-color: #ffffff;
	color: #FB4570;
  padding: 2%;
  border-radius: 25px;
}

.react-calendar__tile {
  padding: 10px;
  font-size: 20px;
  transition: 0.2s;
	border: solid;
	border-color: #FFEEE7;
  border-radius: 25px;
  margin-bottom: 5px;
  
}

.react-calendar__tile:enabled:hover {
  background-color: #B0e0e6;
  color: #ffffff;
}

.react-calendar__tile--active {
  background-color: #FB6B90;
  color: #FFF5F5;
}

.react-calendar__month-view__weekdays__weekday{
	font-size: 25px;
	text-align: center;
}

.react-calendar__navigation{
	font-size: 30px;
	text-align: center;
  display: flex;
}

.react-calendar__navigation:hover{
	cursor: pointer;
}


