@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "tailwindcss";

@theme {
  --color-fushia: #FB4570;
  --color-hotpink: #FB6B90;
  --color-pink: #FB8DA0;
  --color-lightpink: #FFF5F5;
  --color-white: #FFFFFF;

  --color-primary: var(--color-fushia);
  --color-secondary: var(--color-hotpink);
  --color-background: var(--color-pink);
  --color-text: var(--color-pink);

  --font-display: "Itim", cursive;
  --shadow-dark: 0px 5px 20px 0px #FB4570;
  --shadow-light: 0px 2px 0px 0px #FB4570;
}